.reviews {
    margin-bottom: 71px;
    .title {
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        color: #0d0d0d;
    }
    &__wrapper {
        display: block;
        margin: 0 auto;
        margin-top: 70px;
        text-align: center;

    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__img {
        width: 169px;
        height: 169px;
        margin-right: 31px;
        margin-left: 31px;
        img {
            max-width: 100%;
        }
    }
    &__content {
        width: 650px;
        margin-right: 31px;
        margin-left: 31px;
        text-align: left;
    }
    &__person {
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
    }
    &__subtitle {
        margin-top: 10px;
        font-size: 14px;
        font-weight: 300;
        color: #646464;
    }
    &__descr {
        margin-top: 19px;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 300;
        color: #0d0d0d;
    }
    hr {
        margin: 48px 31px 53px 31px;
        height: 1px;
        background-color: #f6f6f6;
        border: none;
    }
}